---
---

@import '_reset';


$base-font-size: 1rem;
$base-size: 1.6 * $base-font-size;

body{
  background-color: #364549;
  color: #fbf1c7;
  font-family: 'Noto Sans JP', sans-serif;
  border-left: $base-size solid #282828;
  min-height: 100vh;
}
h1{
  font-size: 2rem;
  font-weight: bold;
}
h2{
  font-size: 1.5rem;
  color: #d79921;
  
  font-weight: bold;
}
h3{
  color: #98971a;
  font-weight: bold;
}
a{
  color: #fe8019;
}
a:hover{
    color: #83a598;
}
p{
  line-height: $base-size;
  margin-bottom: $base-size;
  margin-right: $base-size;
  margin-left: $base-size;
  text-align: justify;
}
p > code{
  background-color: #282828;
  color: #b48ead;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: 'Fira Mono', 'Noto Sans JP', monospace;
}
p > img{
    max-width: 90vw;
}
ul code{
  background-color: #282828;
  color: #b48ead;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: 'Fira Mono', 'Noto Sans JP', monospace;
}
div.highlighter-rouge{
  background-color: #282828;
  
  margin-right: $base-size;
  margin-left: $base-size;
  margin-bottom: $base-size;

  padding: $base-size * 0.5;
  border-radius: 4px;
}
body > ul{
  margin-bottom: $base-size;
}
body > *:last-child{
    margin-bottom: 0;
}
ul{
  margin-left: $base-size * 2;
  li{
  }
}



@import
  '_code_highlight',
  '_breadcrumbs';



