---
---

@import '_reset';


$base-font-size: 1rem;
$base-size: 1.6 * $base-font-size;

body{
  background-color: #364549;
  color: #fbf1c7;
  font-family: 'Noto Sans JP', sans-serif;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
a{
  color: #fe8019;
  text-decoration: none;
}
a:hover{
    color: #83a598;
}
p{
  line-height: $base-size;
  margin-bottom: $base-size;
}
p > code{
  background-color: #282828;
  color: #b48ead;
  border-radius: 4px;
  padding: 2px 4px;
  font-family: 'Fira Mono', 'Noto Sans JP', monospace;
}
div.highlighter-rouge{
  background-color: #282828;
  margin-bottom: $base-size;
  padding: $base-size;
}



@import
  '_code_highlight',
  '_breadcrumbs';



