<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <ol class="breadcrumbs">
      <li><a href="{{ site.github.url }}">Home</a></li>
    </ol>
    <div>{{ page.url }}</div>
    {% assign crumbs = page.url | split: '/' %}
    {% assign crumburl = '/' %}
    {% for crumb in crumbs offset: 1 %}
      {% assign crumburl = crumburl | append: crumb %}
      <div>{{ crumburl }}</div>
    {% endfor %}"
    {{ content }}
  </body>
</html>
