<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <ol class="breadcrumbs">
      <li><a href="{{ site.github.url }}">Home</a></li>
      {% assign crumbs = page.url | split: '/' %}
      {% assign crumburl = '' %}
      {% for crumb in crumbs offset: 1 %}
        {% assign crumburl = crumburl | append: '/' | append: crumb %}
        <li><a href="{{ crumburl }}">{{ crumb }}</a></li>
      {% endfor %}
    </ol>
    {{ content }}
  </body>
</html>
